* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
    --about-me-work-border: #333366;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --header-footer-background-color: #404040;
  }

/* header start */
header {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--header-footer-background-color);
}

header h1 {
    padding-left: 50px;
}

header nav ul {
    padding-right: 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header nav ul li {
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: x-large
}

header a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--lightskyblue);
    color: var(--lightskyblue);
    text-decoration: none;
}
/* end header*/

/* start body */
body {
    font-family:Arial, Helvetica, sans-serif
    background-color: var(--lightgray);
}
/* end body */

/* start footer */
footer {
    background-color:blueviolet
    color: (var(--lightskyblue);
}

footer a {
    color: var(--lightskyblue);
    font-size: large; 
    font-weight: bold;
    border-bottom: 2px solid var(--lightskyblue);
    text-decoration: none;
}
/* end footer */

/* start hero section */
.hero {
    background-image: ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}

.hero-subtitle {
    padding-bottom: 15px;
    padding-right: 15px;
}
/* end hero section */ 

/* start nav hover */
.nav-effects a:hover{
    text-shadow: 0px 20px var(--lightskyblue);
    color: var(--lightskyblue);
    font-weight: bold;
}
/* end nav hover */

/* projects hover */
.work-grid-container div:hover{
    mix-blend-mode:soft-light;
}
/* end projects hover */

/* footer hover */
.footer-container a:hover {
    color: var(--lightskyblue);
    text-shadow: 0px 20px var(--lightskyblue);
    font-weight: bold;
}
/* end footer hover */

/* start flex/css code for about me */
.about-me-wrapper {
    display: flex;
    flex-wrap:wrap;
    margin-top: 50px;
    justify-content: space-between;
    justify-content: center;
}

.about-me-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr repear(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.about-me-title {
    font-size: 40px;
    padding-top: 0px;
    padding-right: 10px;
    grid-row: 1 / span 4;
    text-align: right;
    border-right: 2px solid var(--about-me-work-border);   
}
/* end code for about me */

/* start css/flex for projects */
.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    justify-content: center;
}

.work-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
}

.work-title {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 35px;
    text-align: right;
    border-right: 2px solid var(--about-me-work-border);
}

.work-item-project.run-buddy {
    background-image: ADD;
    background-size: cover;
    border: .25vw solid var(--rgba-border-color-opacity);
    grid-column: 2 / span 1;
    grid-row: 1 / span 6;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: left;
    
}

.work-item-project.code-refactor {
    background-image: ADD;
    background-size: cover;
    border: .25vw solid var(--rgba-border-color-opacity);
    grid-column: 3 / span 2;
    grid-row: 7 / span 2;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
}

.work-item-project.robot-gladiators {
    background-image: ADD;
    background-size: cover;
    border: .25vw solid var(--rgba-border-color-opacity);
    grid-column: 2 / span 2;
    grid-row: 7 / span 4;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
}

.work-item-project.password-generator {
    grid-column: 4 / span 2;
    opacity: 0;
}
/* end css/flex for projects */

/* start span code */
.span-background {
    background-color: var(--lightskyblue);
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.5;
}

.span-background.title {
    margin-top: 10px;
    margin-bottom: 20px;
}
/* end span code */

/* start css/flex footer */
.footer-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-container {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr repear (4, 2fr);
    grid-template-rows: repeat(3,2fr);
    gap: 20px;
}

.footer-grid-item {
    text-align: center;
}

.footer.grid.item.contact-me {
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-right: none;
    border-bottom: 2px solid var(--lightskyblue);
    padding-left: 25px;
    font-size: 25px;
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
}

.footer-grid-item.email {
    padding-left: 15px;
    align-self: center;
    grid-column 1 / span 1;
    grid-row 2 / span 2;
}

.footer-grid-item.github {
    padding-left: 25px;
    align-self: center;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.footer-grid-item.linkedin {
    padding-left: 90px;
    width: 20px;
    align-self: center;
    grid-column: 3 / span 2;
    grid-row: 2 / spam 2;
}
/* end css/flex footer */

/* media query for smaller desktop screens */
@media screen and (max-width: 980px) {
    header h1 a {
    color: tomato;
    }
}
/* end */

/* media query for tablets */
@media screen and (max-width: 768px) {
    header h1 {
    }
}
/* end */

/* media query for smart phones */
@media screen and (max-width: 575px) {
    header h1 {
    }
}
